@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold.eot');
    src: local('./fonts/TT Norms Bold'), local('TTNorms-Bold'),
        url('./fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Bold.woff2') format('woff2'),
        url('./fonts/TTNorms-Bold.woff') format('woff'),
        url('./fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
        url('./fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Regular.woff2') format('woff2'),
        url('./fonts/TTNorms-Regular.woff') format('woff'),
        url('./fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Black.eot');
    src: local('TT Norms Black'), local('TTNorms-Black'),
        url('./fonts/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Black.woff2') format('woff2'),
        url('./fonts/TTNorms-Black.woff') format('woff'),
        url('./fonts/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
