:root {
    /* Color */
    --color-primary: #A1C4FD;
    --color-simple: #010624;
    --color-placeholder: #C4C4C4;

    /* Background color */
    --background-hero: #ECF2F8;

    /* Font */
    --font-main: 'TT Norms', sans-serif;
}