.btn {
    padding: 12px 0;
    width: 160px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: var(--color-primary);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
    cursor: pointer;
    &:hover {
        color: var(--color-primary);
        background-color: transparent;
        border: 1px solid var(--color-primary);
    }
}