.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius-card);
  width: 100%;
  max-width: 255px;
  background: var(--background-main);
  transition: box-shadow var(--transition-time), transform var(--transition-time);

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 15px 20px;
    height: 100%;

    &-head {
      flex-grow: 1;
      margin-top: 15px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: var(--border-grey);
    padding-top: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &:hover {
    box-shadow: var(--shadow-card);
    transform: scale(1.05);
  }
}
