.header {
    position: sticky;
    top: 0;
    left: 50%;
    transition: background-color var(--transition-time), box-shadow var(--transition-time);
    background-color: var( --background-munsell);
    z-index: 10;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color var(--transition-time);
        background-color: var( --background-munsell);
    }
    &__nav {
        max-width: 950px;
        width: 100%;
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-dark);
        transition: color var(--transition-time);
        svg {
            stroke: var(--color-dark);
            margin-right: 5px;
            transition: stroke var(--transition-time), transform var(--transition-time);
        }
        &:hover {
            color: var(--color-blue);
            svg {
                stroke: var(--color-blue);
            }
        }
    }

    &__dropdown {
        position: relative;
        svg {
            margin-right: 0;
            &:hover {
                stroke: var(--color-blue);
            }
        }
        &-arrow {
            margin-left: 5px;  
        }
        &-active {
            color: var(--color-blue);
            svg {
                stroke: var(--color-blue);
            }
            .header__dropdown-arrow {
                transform: rotate(180deg);
            }
        }
    }
}

