.launge {
    padding-top: 75px;
    &__container {
        position: relative;
    }
    &__inner {
        margin-top: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        max-width: 350px;
        background-color: var( --background-alice-blue);
        border-radius: var(--radius-reset);
        &-content {
            margin-top: 25px;
        }
        &-img {
            height: 285px;
        }
        &-position {
            color: var(--color-red);
            svg {
                margin-right: 5px;
            }
        }
        &-title {
            margin-top: 7px;
        }
        &-info {
            justify-content: space-between;
            border-top: 1px solid var(--background-white);
        }
        &-price {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: var(--color-gray);
            span {
                font-weight: 700;
                color: var(--color-blue);
            }
        }
        &-rating {
            display: flex;
            align-items: center;
            div {
                padding: 5px 10px;
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: var(--color-blue);
                background-color: var(--background-white);
                svg {
                    margin-right: 7px;
                }
                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
}