.divider {
  margin: 23px auto 0;
  width: 60px;
  height: 1px;
  background-color: var(--background-blue);
}

.more {
  position: absolute;
  right: 0;
  top: 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-blue);

  &:hover {
    text-decoration: underline;
  }
}
