.tag {
  display: block;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: var(--radius-tag);
  padding: 5px 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-grey);
  background-color: var(--background-alice-blue);

  &--blue {
    background-color: var(--background-blue);
  }

  &--rating {
    display: flex;
    align-items: center;
    border-radius: var(--border-reset);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-blue);
    background-color: var(--background-white);

    svg {
      margin-right: 5px;
    }
  }
}
