.tobacco {
    padding-top: 207px;
    padding-bottom: 42px;
    height: 100%;
    &__container {
        position: relative;
    }
    &__inner {
        margin-top: 33px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}